@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);

.header .stretch .title {
    padding: 5px 0;
}
.project .logo + .name {
	font-size: 16px;
}
.project .name {
	font-size: 18px;
}
.drawer {
	font-size: 16px;
	line-height: 1em;
}
.drawer a:hover {
    background: #dedede;
    border-radius: 4px;
}
.drawer a {
    transition: background-color 300ms linear;
}
@media only screen and (min-width:960px){
    .drawer .project .banner{
        height: auto;
    }
}
@media only screen and (max-width:959px){
.drawer .project:hover {
    background-color: #009688;
    border-radius: 0;
}
}
.article {
	font-size: 14px;
	line-height: 1.7em;
}
.article h1 {
	font-size: 26px;
}
.article h2 {
	font-size: 22px;
}
.article h3, .article h4 {
    font-size: 18px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
.article p {
    font-family: "Droid Arabic Naskh", sans-serif;
}
blockquote{
    background-color: #f8f8f8;
}
.article blockquote p{
    font-family: "Ubuntu Arabic", sans-serif;
    font-style: italic;
    padding: 20px;
}
.pagination .direction {
    padding-bottom: 4px;
}