html,body{direction:rtl}
pre,code{
    direction: ltr;
    text-align: left;
}
a {
    word-wrap: break-word;
}
.pagination .next, .pagination .previous{float: right}
.pagination .next {
    text-align: left;
}
.project .logo {
    padding-right: 0;
    padding-left: 12px;
}
@media only screen and (min-width:960px){
    .drawer{
        float:right;
    }
    .article {
        margin-right: 140px;
        margin-left: 140px;
    }
}
.backdrop-paper::after {
    margin-right: 140px;
    margin-left: 140px;
}
@media only screen and (max-width:959px){
    .drawer{-webkit-transform:translate3d(262px,0,0);transform:translate3d(262px,0,0);-webkit-transition:-webkit-transform .25s cubic-bezier(.4,0,.2,1);transition:-webkit-transform .25s cubic-bezier(.4,0,.2,1);transition:transform .25s cubic-bezier(.4,0,.2,1);transition:transform .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1)}
}

