<div id="disqus_thread" style="margin-top:2em"></div>
<script>
var disqus_config = function () {
    this.page.url = {{ .Permalink }};
    this.page.identifier = {{ .UniqueID }};
};

(function() {
    var d = document, s = d.createElement('script');
    s.src = '//{{ .Site.Params.disqusShortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
