<p style="margin-bottom: 2em"></p>
<div class="fb-like" data-href="{{ .Permalink }}" data-share="true" data-width="300px"></div>
<div class="fb-comments" data-href="{{ .Permalink }}" data-width="100%"></div>
<div id="fb-root"></div>
<script>
(function(d, s, id){
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  {{ $fbLang := or .Site.Params.fbLang "en_US" }}
  js.src = "//connect.facebook.net/{{ $fbLang }}/sdk.js#xfbml=1&appId={{ .Site.Params.fbID }}&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>