<!DOCTYPE html>
  <!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
  <!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
  <!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
  <!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

  <head {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    {{ .Hugo.Generator }}

    {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}">
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}">
    {{ end }}

    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:type" content="{{if .IsPage}}article{{else}}website{{end}}">
    {{ with .Site.Title }}<meta property="og:site_name" content="{{ . }}">{{ end }}
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{if .IsPage}}{{ .Summary }}{{else}}{{.Site.Params.description}}{{end}}">
    {{ with .Params.featured_image }}<meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}">{{ else }}
    {{ with .Site.Params.logo }}<meta property="og:image" content="{{ $.Site.BaseURL }}{{ . }}">{{ end }}{{ end }}
    {{ if .IsPage }}{{ range .Params.tags }}<meta property="article:tag" content="{{ . }}">
    {{ end }}{{ end }}
    {{ with .Site.Title }}<meta name="apple-mobile-web-app-title" content="{{ . }}">{{ end }}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.BaseURL }}{{ with .Site.Params.favicon }}{{ . }}{{ else }}images/favicon.ico{{ end }}">
    <link rel="icon" type="image/x-icon" href="{{ $.Site.BaseURL }}{{ with .Site.Params.favicon }}{{ . }}{{ else }}images/favicon.ico{{ end }}">
    <meta name="theme-color" content="#009688">

    {{ with .Site.Params.fbID }}<meta property="fb:app_id" content="{{ . }}">{{ end }}

    <style>
      @font-face {
        font-family: 'Icon';
        src: url('{{ .Site.BaseURL }}fonts/icon.eot?52m981');
        src: url('{{ .Site.BaseURL }}fonts/icon.eot?#iefix52m981')
               format('embedded-opentype'),
             url('{{ .Site.BaseURL }}fonts/icon.woff?52m981')
               format('woff'),
             url('{{ .Site.BaseURL }}fonts/icon.ttf?52m981')
               format('truetype'),
             url('{{ .Site.BaseURL }}fonts/icon.svg?52m981#icon')
               format('svg');
        font-weight: normal;
        font-style: normal;
      }
      @font-face {
        font-family: 'Ubuntu Arabic';
        src: url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Bold.eot');
        src: url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Bold.eot?#iefix') format('embedded-opentype'),
        url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Bold.woff2') format('woff2'),
        url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
      }
      @font-face {
        font-family: 'Ubuntu Arabic';
        src: url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Regular.eot');
        src: url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Regular.eot?#iefix') format('embedded-opentype'),
        url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Regular.woff2') format('woff2'),
        url('{{ .Site.BaseURL }}fonts/hinted-subset-UbuntuArabic-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
      }
    </style>

    <link rel="stylesheet" href="{{ .Site.BaseURL }}stylesheets/application.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}stylesheets/temporary.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}stylesheets/palettes.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}{{ with .Site.Params.highlight_css }}{{ . }}{{ else }}stylesheets/highlight/highlight.css{{ end }}">

    {{/* set default values if no custom ones are defined */}}
    {{ $text := or .Site.Params.font.text "Roboto" }}
    {{ $code := or .Site.Params.font.code "Roboto Mono" }}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto+Mono">
    <style>
      body, input {
        font-family: '{{ $text }}', Helvetica, Arial, sans-serif;
      }
      pre, code {
        font-family: '{{ $code }}', 'Courier New', 'Courier', monospace;
      }
    </style>

    {{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
    {{ end }}
    <script src="{{ .Site.BaseURL }}javascripts/modernizr.js"></script>

    <link href="{{ .Site.BaseURL }}index.xml" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
    <link href="{{ .Site.BaseURL }}index.xml" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />

  </head>
  <body class="{{ with .Site.Params.palette.primary }}palette-primary-{{ . }}{{end }} {{ with .Site.Params.palette.accent }}palette-accent-{{ .  }}{{ end }}">
